

<h1>Herores Encontrados</h1>
<hr>

<button [routerLink] = "['/home']"
          type="button" class="btn btn-outline-success btn-block"> Regresar Home</button>
<hr>

<div class="row" *ngIf = "heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info animated fadeIn fast">
            No se encontraron resultados
        </div>
    </div>

</div>

<div class="card-columns"> 
    <app-heroe-tarjeta [heroe] = "h" [idx] = "h.idx" *ngFor="let h of heroes ; let i = index"></app-heroe-tarjeta>
</div>