
<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th> 
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{ nombre2 }} </td>
          <td>capitalizado personal</td>
          <td> {{ nombre2 | capitalizado }} </td>
        </tr>

        <tr>
          <td>{{ nombre }} </td>
          <td>uppercase</td>
          <td> {{ nombre | uppercase }} </td>
        </tr>

        <tr>
          <td>{{ nombre }} </td>
          <td>lowercase</td>
          <td> {{ nombre | lowercase }} </td>
        </tr>

        <tr>
          <td>{{ nombre }} </td>
          <td> slice:3</td>
          <td> {{ nombre | slice:3 }} </td>
        </tr>

        <tr>
          <td>{{ nombre }} </td>
          <td> slice:0:3</td>
          <td> {{ nombre | slice:0:3 }} </td>
        </tr>

        <tr>
          <td>{{ arreglo }} </td>
          <td> slice:1:5</td>
          <td> {{ arreglo | slice:1:5 }} </td>
        </tr>

        <tr>
          <td>{{ PI }} </td>
          <td> number </td>
          <td> {{ PI | number : '3.0-0' }} </td>
        </tr>

        <tr>
          <td>{{ PI }} </td>
          <td> number : '3.0-0' </td>
          <td> {{ PI | number : '3.0-0' }} </td>
        </tr>

        <tr>
          <td>{{ PI }} </td>
          <td> number : '.0-4' </td>
          <td> {{ PI | number : '.0-4' }} </td>
        </tr>

        <tr>
          <td>{{ pct }} </td>
          <td> percent </td>
          <td> {{ pct | percent }} </td>
        </tr>

        <tr>
          <td>{{ pct }} </td>
          <td> percent:'2.2-2' </td>
          <td> {{ pct | percent:'2.2-2' }} </td>
        </tr>

        <tr>
          <td>{{ salario }} </td>
          <td> currency </td>
          <td> {{ salario | currency }} </td>
        </tr>

        <tr>
          <td>{{ salario }} </td>
          <td> currency:'EUR' </td>
          <td> {{ salario | currency:'EUR' }} </td>
        </tr>

        <tr>
          <td>{{ salario }} </td>
          <td> currency:'CAD' </td>
          <td> {{ salario | currency:'CAD':'symbol-narrow':'.0-0' }} </td>
        </tr>

        <tr>
          <td>{{ valorPromesa }} </td>
          <td> async </td>
          <td> {{ valorPromesa | async }} </td>
        </tr>

        <tr>
          <td>{{ fecha }} </td>
          <td> date </td>
          <td> {{ fecha | date}} </td>
        </tr>

        <tr>
          <td>{{ fecha }} </td>
          <td> date:'short' </td>
          <td> {{ fecha | date:'short' }} </td>
        </tr>

        <tr>
          <td>{{ fecha }} </td>
          <td> date:'medium' </td>
          <td> {{ fecha | date:'medium' }} </td>
        </tr>

        <tr>
          <td>{{ fecha }} </td>
          <td> date:'MMMM - dd' </td>
          <td> {{ fecha | date:'MMMM - dd' }} </td>
        </tr>

        <tr>
          <td>{{ fecha }} </td>
          <td> 
            date:'MMMM - dd':'':'{{idioma}}' <br>
            <button (click) = "cambiarIdioma('es')" class="mr-1 btn btn-primary">Español</button>
            <button (click) = "cambiarIdioma('en')" class="mr-1 btn btn-secondary">Ingles</button>
            <button (click) = "cambiarIdioma('fr')" class="mr-1 btn btn-success">Frances</button>
          </td>
          <td> {{ fecha | date:'MMMM - dd':'':idioma }} </td>
        </tr>

        <tr>
          <td>{{ nombre }} </td>
          <td> contrasenia: {{ verpass }} <br>
              <button (click) = "verpass = !verpass" class="btn btn-outline-primary"> Ver Contraseña</button>
          </td>
          <td> {{ nombre | ocultarPasswd: verpass }} </td>
        </tr>
      </tbody>
    </table>

    <h4>Slice</h4>
    <hr>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:20">{{ item }} </li>
    </ul>

    <h4>JSON</h4>
    <hr>
    <div class="row mb-5">
      <div class="col">
        <pre>
          {{ heroe | json}}
        </pre>
      </div>
    </div>
  </div>
</div>


<h4 class="mt-4">Domseguro</h4>
<hr>
<div class="row">
  <div class="col">
    <iframe width="560" 
    height="315" 
    [src]="videoURL | domseguro" 
    frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
  </div>
</div>