<div class="row m-5">
    <div class="col">
        <input #termino type="text" (keyup) = "buscar(termino.value)" class="form-control" placeholder="Buscar Artista">
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<app-tarjetas [items] = "artistas"></app-tarjetas>
