<div class="row">
    <div class="col-md-12 text-center">

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink] = "['nuevo']" >Nuevo</button>
            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink] = "['editar']">Editar</button>
            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink] = "['detalle']">Detalle</button>
        </div>

    </div>
</div>

<router-outlet></router-outlet>