<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Error</h3>
    <p>Error Ejemplo</p>
</div>

<app-tarjetas [items] = "nuevasCanciones"></app-tarjetas>