
<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit) = "guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name = "nombre"
               [ngModel]="usuario.nombre"
               required
               minlength="6"
               [class.is-invalid] =  "nombre.invalid && nombre.touched"
               placeholder="Nombre"
               #nombre = "ngModel">
        <small *ngIf= "nombre.invalid && nombre.touched"
                class="form-text text-danger">Ingrese 6 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               required
               minlength="6"
               ngModel
               [class.is-invalid] =  "apellido.invalid && apellido.touched"
               [ngModel]="usuario.apellido"
               placeholder="Apellido"
               #apellido="ngModel">
        <small *ngIf= "apellido.invalid && apellido.touched"
               class="form-text text-danger">Ingrese su apellido</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             name = "correo"
             required
             minlength="4"
             ngModel
             placeholder="Correo electrónico"
             [class.is-invalid] =  "correo.invalid && correo.touched"
             [ngModel]="usuario.correo"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo = "ngModel">
    <small *ngIf= "correo.invalid && correo.touched"
                class="form-text text-danger">Correo no valido</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <select name="pais" required class="form-control"
      [ngModel] = "usuario.pais" 
      [disabled] = "paises.length === 0"
      [class.is-invalid] =  "pais.invalid && pais.touched"
      #pais = "ngModel">
        <option *ngFor="let p of paises" [value]="p.codigo">{{ p.nombre }} </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <div class="form-check form-check-inline">
        <input type="radio" name="genero" 
              value="M" class="form-check-input" required
              [ngModel] = "usuario.genero" #genero="ngModel" 
              [class.is-invalid] =  "genero.invalid && genero.touched">
        <label class="form-check-label">Masculino</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="genero" value="F" 
              class="form-check-input" required
              [ngModel] = "usuario.genero" #genero="ngModel" 
              [class.is-invalid] =  "genero.invalid && genero.touched">
        <label class="form-check-label">Femenino</label>
      </div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
