
<h1>Herores <small>de Marvel y DC </small></h1>
<hr>

<div class="card-columns"> 
  <!--  [Propiedad comp hijo]  = "lo que quero enviar  -->
    <app-heroe-tarjeta (heroeSeleccionado) = "verHeroe( $event )" [heroe] = "h" [idx] = "i" *ngFor="let h of heroes ; let i = index"></app-heroe-tarjeta>
</div>