
<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup] = "forma" (ngSubmit) = "guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [class.is-invalid] = "nombreNoValido">
        <small *ngIf= "nombreNoValido"
                class="form-text text-danger">Ingrese 5 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [class.is-invalid] = "apellidoNoValido">
        <small *ngIf= "apellidoNoValido"
                       class="form-text text-danger">El campo es obligatorio</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo"
             [class.is-invalid] = "correoNoValido">
        <small *ngIf= "nombreNoValido"
                class="form-text text-danger">Correo no valido</small>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">

      <input class="form-control"
             type="text"
             placeholder="Contraseña"
             formControlName="pass1" 
             [class.is-invalid] = "campoNoValido('pass1')">
        <small *ngIf= "campoNoValido('pass1')"
                class="form-text text-danger">Correo no valido</small>
    </div>
</div>
<div class="form-group row">
  <label class="col-2 col-form-label">Confirmar Contraseña</label>
  <div class="col">

    <input class="form-control"
           type="text"
           placeholder="Contraseña"
           formControlName="pass2" 
           [class.is-invalid] = "pass2NoValido">
      <small *ngIf= "pass2NoValido"
              class="form-text text-danger">Correo no valido</small>
  </div>
</div>


<div class="form-group row">
  <label class="col-2 col-form-label">Usuario</label>
  <div class="col">

    <input class="form-control"
           type="text"
           placeholder="Usuario"
           formControlName="usuario"
           [class.is-invalid] = "usuarioNoValido">
      <small *ngIf= "usuarioNoValido"
              class="form-text text-danger">Usuario ya registrado.</small>
  </div>
</div>

  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Direccion</label>
    <div class="form-row col">
      <div class="col">
        <input type="text" name="" class="form-control" 
            placeholder="Distrito" formControlName="distrito"
            [class.is-invalid] = "distritoNoValido">
        <small *ngIf= "distritoNoValido"
                class="form-text text-danger">Campo Obligatorio</small>
      </div>

      <div class="col">
        <input type="text" name="" class="form-control" 
            placeholder="Ciudad" formControlName="ciudad"
            [class.is-invalid] = "ciudadNoValido">
        <small *ngIf= "ciudadNoValido"
                class="form-text text-danger">Campo Obligatorio</small>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col">
      <table class= "table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>PASATIEMPO</th>
            <th> BORRAR </th>
          </tr>
        </thead>

        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let control of pasatiempos.controls; let i = index">
            <td>{{ i + 1 }} </td>
            <td> <input class="form-control" type="text"
                        [formControlName] = "i">  
            </td>
            <td> <button class="btn btn-danger" (click) = "borrarPasatiemo(i)">Borrar</button> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-block m-5" 
     (click) = "agregarPasatiempo()"> + Agregar</button>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>


<hr>
<pre>
  Estado del formulario {{ forma.valid }}
  <br>
  Status: {{ forma.status }}
</pre>

<pre>
  {{ forma.value | json}}
</pre>
