
<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
      <h1 class="display-4">Commic App</h1>
      <p class="lead">Esta es una aplicacion de comics.</p>
    </div>
</div>