
<div [ngClass] = "alerta"  class="alert" role="alert">
    This is a primary alert—check it out!
</div>

<button type="button" class="btn btn-info" (click) = "alerta = 'alert-info'"> Info </button>
<button type="button" class="btn btn-success" (click) = "alerta = 'alert-success'"> Success </button>


<h3 [ngClass] = "{ 'text-danger' : propiedades['danger'], 'text-info' : !propiedades['danger'] }">
    Hola Mundo Class condicion
</h3>


<button class="btn" type="button" 
(click) = "propiedades['danger'] = !propiedades['danger']"
[ngClass] = "{'btn-danger': propiedades['danger'], 'btn-info' :!propiedades['danger']}"> Cambiar </button>

<br><br>
<h3>Proceso Asincrono</h3>
<button type="button"  (click) = "ejecutar()"
    class="btn btn-primary" [disabled]="loading">
    <i [ngClass] = "{'fa-refresh fa-spin' : loading, 'fa-save': !loading}"
        class="fa"></i>
    <span *ngIf="!loading">Guardar Cambios</span>
    <span *ngIf="loading">Espere por favor</span>
</button>